{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="addshop">
<div class="form-containers">
    <h2>Add Shop</h2>
    <form  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="shop_name">Shop Name:</label>
            <input type="text" required id="shop_name" name="shop_name" required>
        </div>
        <div class="form-group">
            <label for="shop_img">Shop Image:</label>
            <input type="file" required id="shop_img" name="shop_img" accept="image/*" required>
        </div>
        <div class="form-group">
            <label for="shop_contact">Contact Number:</label>
            <input type="text" required id="shop_contact" name="shop_contact" required>
        </div>
        <div class="form-group">
            <label for="shop_address">Address:</label>
            <textarea id="shop_address" required name="shop_address" required></textarea>
        </div>
        <button type="submit">Add Shop</button>
    </form>
</div>
</div>
<br><br>
<table>
    <tr>
      <th>S.NO</th>
      <th>Shop Name</th>
      <th>Shop Contact</th>
      <th>City</th>
      <th>Shop Image</th>
      <th>Action</th>
    </tr>
    {% for shop in shops %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{shop.shop_name}}</td>
        <td>{{shop.shop_contact}}</td>
        <td>{{shop.shop_address}}</td>
        <td>
            <img src="{{shop.shop_img.url}}" style="height:70px">
        </td>
        <td>
            <a href="/delete_shop/{{shop.id}}" class="custom-button">DELETE</a>
        </td>
      </tr>
    {% endfor %}
  
  </table>
  
{% endblock content1 %}



