{% extends "base.html" %}
{% load static %}

{% block content1 %}
<div class="bigcont">
    <div class="form-container">
        <div class="heading">
            <h1>Welcome To <span>&nbsp;Zomato&nbsp;</span> Online Meal</h1>
            <p>"Explore a world of flavors with our diverse menu. Savor every bite and make each meal a delightful experience. Join us today for culinary delights that will tantalize your taste buds.you can see best shop of your around and contact and ask anything and do order."</p>
        </div>
       
    </div>
   
</div>
{% endblock content1 %}
