{% extends "base.html" %}
{% load static %}

{% block content1 %}
<div class="bigcont">
    <div class="form-container">
        <div class="heading">
            <h1>Welcome To <span>&nbsp;Zomato&nbsp;</span> Online Hotels</h1>
            <p>"Explore a world of flavors with our diverse menu. Savor every bite and make each meal a delightful experience. Join us today for culinary delights that will tantalize your taste buds.you can see best shop of your around and contact and ask anything and do order."</p>
        </div>
    </div>
</div>
<section id="about">
    <div class="container">
        <div class="card-container">
            <div class="custom-card">
                <h2>Welcome to <span>ZOMATO online Hotels</span>!</h2>
                <p>At <span>Your Platform Name</span>, we're passionate about connecting travelers with the perfect accommodations for their needs. Whether you're planning a weekend getaway, a business trip, or a long-awaited vacation, we're here to make your stay comfortable and memorable.</p>
            </div>
        
            <div class="custom-card">
                <h3>Our Mission</h3>
                <p>Our mission is simple: to provide a seamless and enjoyable booking experience for travelers while helping hotel owners and hosts showcase their properties to a global audience. We believe that every traveler deserves a hassle-free booking process and access to a wide range of accommodation options to suit their preferences and budget.</p>
            </div>
        
            <div class="custom-card">
                <h3>What Sets Us Apart</h3>
                <ul>
                    <li><strong>Diverse Selection:</strong> We offer a diverse selection of accommodations, ranging from boutique hotels and cozy bed and breakfasts to luxurious resorts and budget-friendly hostels.</li>
                    <li><strong>Easy Booking:</strong> Our user-friendly platform makes it easy to search for and book accommodations online.</li>
                    <li><strong>Transparent Reviews:</strong> We feature reviews and ratings from verified guests, allowing you to make informed decisions.</li>
                </ul>
            </div>
        
            <div class="custom-card">
                <h3>Get in Touch</h3>
                <p>Have questions or need assistance? Our dedicated customer support team is here to help! Feel free to reach out to us via email, phone, or live chat.</p>
                 <a href="https://vikassinghkan">Phone: 8449681236</a>
            </div>
        
            <div class="custom-card">
                <h3>Join Our Community</h3>
                <p>Join our growing community of travelers and hosts and stay updated on the latest travel trends, tips, and promotions. Follow us on social media and subscribe to our newsletter to receive exclusive offers and discounts on your next booking.</p>
            </div>
        </div>
    </div>
</section>

{% endblock content1 %}
