{% extends "base.html" %}
{% load static %}
{% block content1 %}
<div class="space"></div>
<div class="cards">
    {% for shop in shops %}
    <div class="card">
        <img src="{{shop.shop_img.url}}" alt="Shop Image">
        <div class="card-details">
            <h3>{{shop.shop_name}}</h3>
            <p>Phone: <a href="tel:+123456789">{{shop.shop_contact}}</a></p>
            <p>{{shop.shop_address}}</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div> 
 
{% endblock content1 %}


