{% extends "base.html" %}
{% block content1 %}
<div class="bigcont">
    <div class="space"></div>
    <div class="from-div">
<div class="form-content">
    <h2>Login / Sign Up</h2>
    <form>
        <input type="text" placeholder="Username">
        <input type="Phone" placeholder="Phone Number">
        <input type="Email" placeholder="Email">
        <input type="City" placeholder="City">
        <input type="password" placeholder="Password">
        <button type="submit">Login</button>
        <button type="submit">Sign Up</button>
    </form>
</div>
</div>
</div>
{% endblock content1 %}

